/* CSS HEX
--penn-red: #960200ff;
--prussian-blue: #12263aff;
--robin-egg-blue: #06bcc1ff;
--tangerine: #f28f3bff;

colores ataque 
$blue-violet: #9046cfff;
$silver: #b3b3b3ff;
$orchid: #cc59d2ff;
$school-bus-yellow: #fde12dff;
$poppy: #df2935ff;

colores apoyo
--chocolate-cosmos: #6a041dff;
--xanthous: #f5b841ff;
--icterine: #f4ff52ff;
--green-blue: #306bacff;
--erin: #53ff45ff;

colores defensa
--malachite: #04e762ff;
--selective-yellow: #f5b700ff;
--celestial-blue: #00a1e4ff;
--red-pantone: #e71d36ff;
--chartreuse: #89fc00ff;
*/
/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/



$var1:50%;
$colorAtaque1:#9046cfff;
$colorAtaque2:#b3b3b3ff;
$colorAtaque3:#cc59d2ff;
$colorAtaque4:#fde12dff;
$colorDefensa1:#04e762ff;
$colorDefensa2:#f5b700ff;
$colorDefensa3:#00a1e4ff;
$colorDefensa4:#e71d36ff;
$colorSoporte1:#6a041dff;
$colorSoporte2:#f5b841ff;
$colorSoporte3:#306bacff;
$colorSoporte4:#53ff45ff;

body{
    background-color: #ebe0e0e1;
    background-image: linear-gradient(red,white);
    width: auto;
    overflow-x: hidden;
}
.encabezado{
    background-color: #960200ff;
    animation-name: barraAnimada;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    height: auto;
    width: 100vw;
}

@keyframes barraAnimada {
    0%{background-color: #960200ff;}
    10%{background-image: linear-gradient(to right, red 10%,white);}
    20%{background-image: linear-gradient(to right,white 30%,red);}
    60%{background-image: linear-gradient(to right, red 60%,white);}
    100%{background-color: #960200ff;}
}
    
.blanco{
    color: white;
}
.rojo{
    color:red;
}
.navbar-toggler {
    border-color: black; 
    outline: none; 
}

.navbar-toggler-icon::after {
    background-color: white; 
}
.navbar-nav {
        a {
            text-align: center;
            color: white;
            margin: 10px;
            font-size: 1.5rem;}
    
            }

.imagenPrincipal {
    background-image: url("imagenes/share-fb.jpg");
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.titulo{
    text-align: center;
    background-color: #941313e1;
         p{
    color:aqua
            }
        }

.emblema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 20px auto; 
    max-width: $var1;
    box-sizing: border-box;
    img {
    max-width: $var1;

        }
    a {
    color:black;
    font-size: 1.5rem;
      }
    p {
    font-size: 1.5rem;
    color:black;
      }
    }

.iniciales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: 3px solid #522727e1;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba;
    margin: 20px auto; 
    max-width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.imagenesIconos {
    height: 100%;
}
.footer{
    background-color: #06bcc1ff;
    font-weight: bold;
}

.pokeball {
    animation:rotar 5s linear infinite ;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.copete{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.textoSlide {
color:blueviolet;
font-size: 1,5rem;
font-weight: bold;
}
.textoSlide1 {
    color:white;
    font-size: 1,5rem;
    font-weight: bold;
    }
.imagenSlide {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.carruselGeneral {
    margin-bottom: 20px;
}
textoMapa {
    text-align: center;
    background-color: aliceblue;
}
